@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}
<ul>
    @foreach (var role in Model)
    {
        <li><a asp-action="Roles" asp-route-id="@role.Id">@role.Name</a></li>
    }
</ul>