@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.IsInRole("Admin"))
    {
        <p><a asp-action="Index" asp-controller="Manage">Manage site</a></p>
    }
    @if (User.IsInRole("Finance"))
    {
        <p><a asp-page="Static">Get financial report</a></p>
    }
    @if (User.IsInRole("Security"))
    {
        <p><a asp-page="Static">Get security report</a></p>
    }
</div>
