@model IEnumerable<Author>
@{
    ViewData["Title"] = "Authors";
}
<h1>
    Authors
    @if (User.IsInRole("Admin") || User.IsInRole("Finance") || User.IsInRole("Marketing"))
    {
        <a asp-action="Add">Add</a>
    }
</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Books</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.OrderByDescending(a => a.AuthoredBooks.Count))
        {
            <tr>
                <td><a asp-action="Item" asp-route-id="@author.AuthorId">@author.Name</a></td>
                <td>@author.AuthoredBooks.Count</td>
            </tr>
        }
    </tbody>
</table>